In [2]:
import pandas as pd
import numpy as np

# Creating a Pandas Series from a list
data_list = [10, 20, 30, 40, 50]
series_from_list = pd.Series(data_list)
print("Series from a list:\n", series_from_list)

# Creating a Series with custom index
series_custom_index = pd.Series(data_list, index=['a', 'b', 'c', 'd', 'e'])
print("Series with custom index:\n", series_custom_index)

# Accessing elements in Series
print("Element at index 'c':", series_custom_index['c'])

Series from a list:
 0    10
1    20
2    30
3    40
4    50
dtype: int64
Series with custom index:
 a    10
b    20
c    30
d    40
e    50
dtype: int64
Element at index 'c': 30

In [4]:
# Performing arithmetic operations on Series
series1 = pd.Series([1, 2, 3, 4, 5])
series2 = pd.Series([5, 4, 3, 2, 1])

series_sum = series1 + series2
print("Sum of two series:\n", series_sum)

# Applying mathematical functions
np.log(series1)
print("Logarithm of Series1:\n", np.log(series1))

Sum of two series:
 0    6
1    6
2    6
3    6
4    6
dtype: int64
Logarithm of Series1:
 0    0.000000
1    0.693147
2    1.098612
3    1.386294
4    1.609438
dtype: float64

In [7]:
# Handling missing data
series_with_nan = pd.Series([1, np.nan, 3, np.nan, 5])

# Filling missing values
filled_series = series_with_nan.fillna(0)
print("Series with NaN filled:\n", filled_series)

# Dropping missing values
dropped_nan = series_with_nan.dropna()
print("Series with NaN dropped:\n", dropped_nan)

Series with NaN filled:
 0    1.0
1    0.0
2    3.0
3    0.0
4    5.0
dtype: float64
Series with NaN dropped:
 0    1.0
2    3.0
4    5.0
dtype: float64

In [9]:
# Boolean indexing
series_data = pd.Series(range(10))
filtered_series = series_data[series_data > 5]
print("Filtered series (values > 5):\n", filtered_series)

Filtered series (values > 5):
 6    6
7    7
8    8
9    9
dtype: int64

In [11]:
# Time series data
dates = pd.date_range('20230101', periods=6)
time_series = pd.Series([1, 2, 3, 4, 5, 6], index=dates)
print("Time Series:\n", time_series)

Time Series:
 2023-01-01    1
2023-01-02    2
2023-01-03    3
2023-01-04    4
2023-01-05    5
2023-01-06    6
Freq: D, dtype: int64

In [13]:
# GroupBy and aggregation
series_for_groupby = pd.Series([1, 2, 3, 1, 2, 3, 4, 5], index=['a', 'b', 'c', 'a', 'b', 'c', 'd', 'e'])
grouped_series = series_for_groupby.groupby(series_for_groupby).mean()
print("Grouped and Aggregated Series:\n", grouped_series)

Grouped and Aggregated Series:
 1    1.0
2    2.0
3    3.0
4    4.0
5    5.0
dtype: float64

In [15]:
# Data transformation using apply()
series_data = pd.Series([1, 2, 3, 4, 5])

def square_plus_one(x):
    return x**2 + 1

transformed_series = series_data.apply(square_plus_one)
print("Transformed Series (square plus one):\n", transformed_series)

Transformed Series (square plus one):
 0     2
1     5
2    10
3    17
4    26
dtype: int64

In [17]:
# String operations in Series
text_series = pd.Series(['Pandas', 'is', 'powerful', 'for', 'data', 'manipulation'])

# Capitalize each string
capitalized_series = text_series.str.capitalize()
print("Capitalized Series:\n", capitalized_series)

# Concatenate the words
concatenated_string = text_series.str.cat(sep=' ')
print("Concatenated String:", concatenated_string)

Capitalized Series:
 0          Pandas
1              Is
2        Powerful
3             For
4            Data
5    Manipulation
dtype: object
Concatenated String: Pandas is powerful for data manipulation

In [19]:
# Resampling time series data
time_index = pd.date_range('20230101', periods=60, freq='D')
time_series = pd.Series(np.random.randn(len(time_index)), index=time_index)

# Resample to monthly frequency and compute the mean
monthly_resample = time_series.resample('M').mean()
print("Monthly Resampled Time Series:\n", monthly_resample)

Monthly Resampled Time Series:
 2023-01-31    0.132569
2023-02-28   -0.137707
2023-03-31    1.384850
Freq: M, dtype: float64

In [21]:
# MultiIndex series
arrays = [np.array(['bar', 'bar', 'baz', 'baz']),
          np.array(['one', 'two', 'one', 'two'])]
multi_index_series = pd.Series(np.random.randn(4), index=arrays)

print("MultiIndex Series:\n", multi_index_series)

MultiIndex Series:
 bar  one    0.306738
     two    0.157856
baz  one   -1.298299
     two    0.092007
dtype: float64

In [23]:
# Filtering with isin()
series_elements = pd.Series(['apple', 'banana', 'cherry', 'date'])
filtered_series = series_elements[series_elements.isin(['banana', 'date'])]

print("Filtered Series with isin:\n", filtered_series)

Filtered Series with isin:
 1    banana
3      date
dtype: object

In [24]:
# Sorting and ranking
random_series = pd.Series(np.random.randn(5))
sorted_series = random_series.sort_values()
print("Sorted Series:\n", sorted_series)

# Ranking series elements
ranked_series = random_series.rank()
print("Ranked Series:\n", ranked_series)

Sorted Series:
 2   -0.104599
1    0.067142
0    0.490464
4    0.829589
3    1.624603
dtype: float64
Ranked Series:
 0    3.0
1    2.0
2    1.0
3    5.0
4    4.0
dtype: float64